.incidental {
	color:#888;
	font-style:italic;
}

.optionsForm {
	overflow: auto;

	td {
	    padding: 5px;
	}
}

.newInputRow td {
    background: #F8FFA3;
    }

div.updated {
	padding: 1em;
}

.book_carousel-settings-page {

	table td {
		padding: 1em;
		vertical-align: top; 
	}
	tr:nth-child(2n+1) {
		background: hsla(0,0%,60%,.1);
	}

	.background-preview {
		height: 150px;
		width: 150px;
	}

}

#iris-color-picker {
	float: right;
}