
#bookCarousel {
	display:block;
	// background-image: url("bookCarouselBack.jpg");
	// background-color: #242424;
	height: 170px;
	padding: 20px 0 0;
	position: relative;
	color: #ddd;

	p {
	    text-align: center;
	}
	img:not(#bookFiller) {
		box-shadow: 3px 3px 3px #000;
		margin: 0 15px;
		border: 1px solid #222;
		height: 120px;
	}
	img:hover {
		border: 1px solid #fff;
	}

	 #bookFiller, #bookFiller:hover {
	 	border: none;
	}
}

#bookCarousel.bookCarouselLoading:after {
	content: '';
	box-sizing: border-box;
	height: 30px;
	width: 30px;
	margin: 2em auto;
	border: 5px solid #bbb;
	border-left-color: transparent;
	border-radius: 50%;
	animation: rotate 1s infinite linear;
	position: absolute;
	top: 40px;
	left: calc(50% - 15px);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 


#bookCarousel-inner {
	height: 100%;
	white-space: nowrap;
	overflow: auto;
	padding-bottom: 0px;

	a, a:hover {
		text-decoration: none;
		border-bottom: none;
	}
}

#seeMoreCarousel {
	position: absolute;
	right: 0px;
	top: 0;
	width: 6em;
	text-align: right;
	font-weight: bold;
	z-index: 80;
	padding: 12px;
	// background-image: url("bookCarouselBack.jpg");
	background-color: hsla(0,0%,0%,.5);
	border-radius: 0 0 0 10px;
	font-size: 12px;
	
	a {
		color: #bedde9;
		text-decoration: none;
		border-bottom: none;
	}
}