.incidental{color:#888;font-style:italic}.optionsForm{overflow:auto}.optionsForm td{padding:5px}.newInputRow td{background:#F8FFA3}div.updated{padding:1em}.book_carousel-settings-page table td{padding:1em;vertical-align:top}.book_carousel-settings-page tr:nth-child(2n+1){background:rgba(153,153,153,0.1)}.book_carousel-settings-page .background-preview{height:150px;width:150px}#iris-color-picker{float:right}
/*# sourceMappingURL=book-carousel-admin.css.map */
